<div class="upper-data" *ngIf="weatherData">
  <img src="../assets/img/day.png" *ngIf="weatherData.day.maxtemp_c > 15">
  <img src="../assets/img/night.png" *ngIf="weatherData.day.mintemp_c < 15" >
  <div class="weather-data">
    <div class="location">{{ weatherData.location.name }}</div>
    <div class="temperature"> {{ weatherData.current.temp_c | number: '1.0-0' }} °C</div>
  </div>
</div>

<!-- <div class="upper-data">
  <img src="../assets/img/day.png" *ngIf="14 > 15">
  <img src="../assets/img/night.png" *ngIf="14 < 15" >
  <div class="weather-data">
    <div class="location">Maringa</div>
    <div class="temperature"> {{ 14.40 | number: '1.0-0' }} °C</div>
  </div>
</div> -->
